version: "3.9"
services:
  clin_arranger:
    image: node:18.1-alpine
    working_dir: /code
    volumes:
      - .:/code
    command: sh -c 'npm install && npm run start'
    profiles:
      - dev
    ports:
      - "5050:5050"
  clin_arranger_with_local_es:
    image: node:18.1-alpine
    working_dir: /code
    volumes:
      - .:/code
    command: sh -c 'npm install && npm run start'
    profiles:
      - dev_with_local_es
    ports:
      - "5050:5050"
    networks:
      - es-net
  clin_arranger_test:
    image: node:18.1-alpine
    working_dir: /code
    volumes:
      - .:/code
    command: sh -c 'npm install && npm run test'
    profiles:
      - test
networks:
  es-net:
    external: true
